<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ path('homepage') }}">
        <img src="assets/logo.svg" alt="Olive Oil Times Education Lab" width="130" height="30">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="mainMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="mainMenu" class="navbar-menu">
      <div class="navbar-start">
        {% for item in getMenu() %}
        <a class="navbar-item" title="{{ item.title }}" href="{{ getMenuLink(item) }}">
          {{ item.title }}
        </a>
        {% endfor %}
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            {% if app.user %}
              <a class="button is-light">
                My Account
              </a>
            {% else %}
              <a class="button is-primary is-toggler" data-target="signUpModal">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light is-toggler" data-target="logInModal">
                Log in
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="modal" id="signUpModal">
  <div class="modal-background animated fadeIn"></div>
  <div class="modal-card animated slideInDown">
    <header class="modal-card-head">
      <p class="modal-card-title">Create your account</p>
      <button class="delete is-toggler" data-target="signUpModal" aria-label="close"></button>
    </header>
    <form method="POST" action="{{ path('register') }}">
      <section class="modal-card-body">
        {% include 'form/register.html.twig' %}
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" type="submit">Sign up</button>
        <button class="button is-toggler" type="reset" data-target="signUpModal">Cancel</button>
      </footer>
    </form>
  </div>
</div>

<div class="modal" id="logInModal">
  <div class="modal-background animated fadeIn"></div>
  <div class="modal-card animated slideInDown">
    <header class="modal-card-head">
      <p class="modal-card-title">Login</p>
      <button class="delete is-toggler" data-target="logInModal" aria-label="close"></button>
    </header>
    <form method="POST" action="{{ path('login') }}">
      <section class="modal-card-body">
        {% include 'form/login.html.twig' %}
      </section>
      <footer class="modal-card-foot">
        <button class="button is-success" type="submit">Save changes</button>
        <button class="button is-toggler" type="reset" data-target="logInModal">Cancel</button>
      </footer>
    </form>
  </div>
</div>
